
.footer {
    overflow: hidden;
    background-color:#faf6e9;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer-right {
    float: right;
}

.footer-right img {
    float: right;
    width: 20px;
    height: 20px;
    margin: 20px;
}
