.header {
    overflow: hidden;
    background-color: #faf6e9;
    padding: 20px 10px;
    font-family: "Cochin" !important;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.header a:hover {
    background-color: #faf6e9;
    color: black;
}
.header a.active {
    background-color: #ece8d9;
    color: black;
}
.header-right {
    float: right;
}
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
   }
    .header-right {
        float: none;
   }
}
