@import "header.css";
@import "footer.css";

html,
body {
    font-family: "Avenir Next" !important;
    background-color: #fffdf6;
}

.parent {
  background-color: #fffdf6;
  margin-bottom: -50px;
}

h1 {
  font-weight: normal;
}

p {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}
