@import "header.css";
@import "footer.css";
@import "main.css";

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 12px;
}

tr:nth-child(even) {background-color: #C0C0C0;}

.tableContainer {
  overflow: scroll;
  padding: 16px;
}
