@import "header.css";
@import "footer.css";
@import "main.css";

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 0px;
}

tr:nth-child(even) {background-color: #C0C0C0;}

.tableContainer {
  overflow: scroll;
  padding: 12px;
}

#filterInput {
  background-image: url('../assets/searchIcon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
