@font-face {
   font-family: 'Cochin';
   font-display: swap;
   src: url('file:///Users/ogochukwunwodoh/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-07-04_130312/fonts/Cochin/font.ttf');
}
